nav ul a {
    color: white;
    display: inline;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

nav ul li {
    padding-left: 10px;
}

li.active a {
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
}

/* #hover-kontak li.active a {
    color: white;
    background-color: rgb(13, 1, 66);
    border-radius: 5px;
    display: block;
} */

/* Kursor Aktif Navbar */
li.aktif a {
    color: rgb(13, 1, 66);
    background-color: white;
    border-radius: 10px;
}

nav ul li.active {
    background-color: white;
}

.brand-logo img {
    width: 40px;
    margin-left: 5em;
    margin-top: 6px;
}

.header-menu {
    margin-right: 30em;
}

.header-menunya {
    margin-right: 13em;
}

nav ul a:hover {
    background-color: white;
    color: rgb(13, 1, 66);
    border-radius: 10px;
}

/* copas bawaan parallax materialize */
.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

/* Akhir copas bawaan parallax materialize */
.img-wa {
    width: 73px;
    position: relative;
}

img.footer-logo {
    width: 100px;
}

img.footer-download {
    width: 100%;
}

/* Font Style */
.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
    text-align: justify;
}

.boldc {
    font-weight: bold;
    text-align: center;
}

.rightnya {
    font-weight: bold;
    text-align: right;
}

.b {
    font-weight: bold;
}

/* @font-face {
    font-family: 'Helvetica 107 Extra Black Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 107 Extra Black Condensed'), url('HelveticaNeue-ExtBlackCond.woff') format('woff');
}

@font-face {
    font-family: 'Helvetica 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 45 Light'), url('HelveticaNeue-Light.woff') format('woff');
}

.helvetica-extra {
    font-family: 'Helvetica 107 Extra Black Condensed';
    font-weight: normal;
    font-size: 42px
}

.helvetica-107 {
    font-family: 'Helvetica 107 Extra Black Condensed';
    font-weight: normal;
    font-size: 22px
}

.helvetica-45 {
    font-family: 'Helvetica 45 Light';
    font-weight: normal;
    font-size: 18px
} */

.helvetica-extra {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 42px
}

.helvetica-45 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 18px
}

.helvetica-46 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 21px
}

.helvetica-107 {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 22px
}

.Deskripsi-Helvetica {
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 0px;
    /* color: #000000; */
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

}

/* Akhir Font Style */

/* A href Color */
.putih {
    color: white;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.whitenya {
    background-color: #f7f7f7 !important;
}

.offer {
    font-family: 'Helvetica 65 Medium';
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    background-color: #0c4e88;
    color: #fff;
    padding: 6px;
}

/* A href Color */

/* Dropdown */
.right-triangle {
    float: right;
}

.dropdown-nested {
    overflow-y: visible;
}

.dropdown-content .dropdown-content {
    margin-left: 100%;
}

.dropdown-content>li {
    position: relative;
}

.dropdown-content li .dropdown-content {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}

/* Akhir Dropdown */
/* Garis */
hr.new4 {
    border: 1px solid #0B3254;
}

/* Jarak Text */
#jarak-text .indigo-text.text-darken-4 {
    color: #0B3254 !important;
    margin-top: 0;
}

/* Navigasi Slider */
.slider-room .navigasi {
    position: absolute;
    margin-top: 200px;
    margin-left: -60px;
    width: 500px;
}

.navigasi .kiri {
    left: 6px;
    position: absolute;
}

.navigasi .kanan {
    right: -35px;
    position: absolute;
}

#lates-news .card .card-content p {
    margin: -44px;
    margin-top: -33%;
    font-size: 60%;
    margin-right: -39%;
    color: black;
}

#lates-news .card.horizontal .card-image img {
    border-radius: 5px 0 0 2px;
    max-width: 75%;
    width: auto;
}

/* Preloader */
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#img-home-agri img {
    border-style: none;
    /* width: 80%;
    margin-left: -30%;
    margin-top: 2%; */
    width: 338px;
    margin-left: -127px;
    margin-top: 7.5px;
}

#card-home-agri .card-panel {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 50px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

/* Akhir Lates News */

/* Color */
.indigo.darken-3 {
    background-color: #0B3254 !important;
}

.indigo.darken-4 {
    background-color: #0B3254 !important;
}

.indigo-text.text-darken-3 {
    color: #0B3254 !important;
}

.indigo-text.text-darken-4 {
    color: #0B3254 !important;
}

/* Maps Inagro */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Footer */
footer,
section {
    padding: 20px 0;
    text-align: center;
}

#footernya {
    border: 0;
    height: 60px;
    margin-right: 50px;
}

/* Footer */

/* Hover img */
.img4 {
    height: auto;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.img4:hover {
    transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

/* Akhir Hover img */

/* Sidenav */
nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
    color: white;
}

/* mobile css */
@media only screen and (max-width: 992px) {
    .brand-logo img {
        width: 39px;
        margin: 2px;
    }

    .slider .slides li {
        width: 100%;
    }

    #footernya {
        border: 0;
        height: 60px;
        margin-right: -4px;
    }

    .ml {
        margin-left: 8em;
    }

    /* Button Padding Agro Home */
    .row .col.s12.btnnyaM {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        padding: 4px;
        padding-top: 4px;
    }

    /* Akhir Button Padding Agro Home */

    /* Img Home Agri */
    #img-home-agri img {
        border-style: none;
        width: 406px !important;
        margin-left: 0px !important;
        margin-top: -14px !important;
    }

    /* Akhir Img Home Agri */

    /* Lates News */
    #lates-news .card .card-content p {
        margin: -81px;
        margin-top: -8%;
        font-size: 67%;
        margin-right: -15%;
        color: black;
    }

    /* Akhir Lates News */

    /* Navigasi */
    .navigasi .kanan {
        right: 0px;
        position: absolute;
    }

    .navigasi .kiri {
        left: 27px;
        position: absolute;
    }

    #lates-news .card .card-content p {
        margin: -56px;
        margin-top: -12%;
        font-size: 67%;
        margin-right: -15%;
        color: black;
    }
}